/**********
author: Zhao WeiYang
time: 2019-08-03
des: 一般公共样式表
path: https://www.zhaowy.cn/css/z-style.css
**********/
html{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #333;
}
a{
  text-decoration: none;
}
image{
  vertical-align: middle;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.clearfix{zoom:1}
/* 默认链接样式 */
.z-link{
  padding: 0;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #606266;
}

/* 默认按钮样式 */
.btn{
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  border: none;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.btn-info{
  color: white;
  background-color: #3498db;
}
.btn-info:hover{
  color: white;
  background-color: #5dade2;
  border-color: #5dade2;
}
.btn-info:not(:disabled):not(.disabled):active{
  background: #2c81ba;
  border-color: #2c81ba;
}
.btn-info.focus, .btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}
/* 基础投影 */
.shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
/* 浅色投影 */
.shadow-light{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}
/* 四周都有阴影 */
.img-shadow{
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, .1);
}


.bold{
  font-weight: bold;
}

/* 向上箭头 */
.t-arrow{
  position: relative;
}
.t-arrow::after{
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
/* 向右箭头 */
.r-arrow{
  position: relative;
}
.r-arrow::after{
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
/* 向下箭头 */
.b-arrow{
  position: relative;
}
.b-arrow::after{
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
/* 向左箭头 */
.l-arrow{
  position: relative;
}
.l-arrow::after{
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
}
/* 左边竖线 */
.z-line-left{
  position: relative;
  padding-left: 10px;
}
.l-line-left::after{
  content: '';
  height:  80%;
  width: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 10%;
}
/* 下方竖线 */
.b-line{
  position: relative;
}
.b-line::after{
  content: " ";
  width: 100%;
  height: 1px;
  background: #eee;

  position: absolute;
  left: 0;
  bottom: 0
}
/* 关闭按钮 */
.close{
  position: relative;
  width: 50px;
  height: 50px;
}
.close:before,.close:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  background: #000;
  width: 100%;
  height: 2px;
}
.close:before{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (min-width: 768px){
  .container {width: 750px;}
}
@media (min-width: 992px){
  .container {width: 970px;}
}
@media (min-width: 1200px){
  .container {width: 1170px;}
}
.container{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
}
.z-row::after{content: "";display: block;clear: both;}
.z-row{zoom: 1}
.z-col-1,.z-col-2,.z-col-3,.z-col-4,.z-col-5,.z-col-6,.z-col-7,.z-col-8,.z-col-9,.z-col-10,.z-col-11,.z-col-12{
  float:left
}
.z-col-1 {width: 8.33333333%}
.z-col-2 {width: 16.66666667%}
.z-col-3 {width: 25%}
.z-col-4 {width: 33.33333333%}
.z-col-5 {width: 41.66666667%}
.z-col-6 {width: 50%}
.z-col-7 {width: 58.33333333%}
.z-col-8 {width: 66.66666667%}
.z-col-9 {width: 75%}
.z-col-10 {width: 83.33333333%}
.z-col-11 {width: 91.66666667%}
.z-col-12 {width: 100%}