<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBD故障码解析</title>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <style>
      body{
        margin: 0;
        padding: 0
      }
      #app{
        padding: 15px;
      }
      .form-item{
        display: flex;
        align-items: center;
        /* width: 80%; */
        margin: 16px auto 0;
      }
      .label{
        /* margin-right: 16px; */
        position: relative;
        font-size: 14px;
        width: 90px;
        text-align: left;
        margin-right: 10px;
      }
      .required::after{
        content: '*';
        color: red;
        position: absolute;
        left: -8px;
        top: 3px;
      }
      .btn{
        font-family: "Lato", Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        outline: none !important;
        text-decoration: none;
        text-align: center;
        /* vertical-align: middle; */
        user-select: none;
        display: block;
        width: 100%;
        border: none;
        font-weight: normal;
        -webkit-font-smoothing: subpixel-antialiased;
        transition: border .25s linear, color .25s linear, background-color .25s linear;
        color: #fff;
        background: #3498db;
        margin-top: 16px;
        padding: 10px 19px;
        font-size: 17px;
        line-height: 1.471;
        border-radius: 6px;
        white-space: normal;
        cursor: pointer;
      }
      .content{
        flex: 1;
      }
      .select{
        height: 40px;
        min-width: 220px;
        font-weight: 400;
        text-align: left;
        box-sizing: border-box;
        /* outline: none !important; */
        background-color: #fff;
        background-clip: padding-box;
        color: #000;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.467;
        border-radius: 6px;
        box-shadow: none;
        transition: border .25s linear, color .25s linear, background-color .25s linear;
        position: relative;
        display: inline-block;
        vertical-align: top;
      }
      option{
        height: 40px;
      }
      /* 未访问和已访问 */
      /* .btn:link, .btn:visited{
        background: #3498db;
        border-color: #3498db;
      } */
      /* 悬浮和活动链接 */
      /* .btn:hover, .btn:active{
        background-color: #5dade2;
        border-color: #5dade2;
      } */
      .title{
        color: #f00;
        margin-top: 15px;
        font-size: 20px;
      }
      .list{
        font-size: 12px;
      }
      .list li{
          margin-left: 15px;
          margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="form-item">
        <label class="label required">协议类型</label>
        <select v-model="ATDP" class="content select">
          <optgroup label="CAN协议"></optgroup>
            <option value="ISO 15765-4 (CAN 11/500)">ISO 15765-4 (CAN 11/500)</option>
            <option value="ISO 15765-4 (CAN 29/500)">ISO 15765-4 (CAN 29/500)</option>
            <option value="ISO 15765-4 (CAN 11/250)">ISO 15765-4 (CAN 11/250)</option>
            <option value="ISO 15765-4 (CAN 29/250)">ISO 15765-4 (CAN 29/250)</option>
          </optgroup>
          <optgroup label="其他协议"></optgroup>
            <option value="ISO 14230-4 (KWP FAST)">ISO 14230-4 (KWP FAST)</option>
            <option value="ISO 14230-4 (KWP 5BAUD)">ISO 14230-4 (KWP 5BAUD)</option>
            <option value="ISO 14230-4 (KWP 5BAUD)">ISO 9141-2</option>
            <option value="SAE J1850 PWM">SAE J1850 PWM</option>
            <option value="SAE J1850 VPW">SAE J1850 VPW</option>
          </optgroup>
        </select>
      </div>
      <div class="form-item">
        <label class="label">模式（Hex）</label>
        <select v-model="cmd" class="content select" required>
          <option value="03">显示存储的诊断故障码（03）</option>
          <option value="07">显示最近诊断故障码（07）</option>
          <option value="0A">永久性的诊断故障码（0A）</option>
        </select>
      </div>
      <div class="form-item">
        <label class="label required">返回结果</label>
        <textarea  v-model.trim="msg" rows="10" resize class="content" placeholder="注意：换行符请直接换行"></textarea>
      </div>
      <div class="form-item">
        <label class="label">故障码数量</label>
        <input  v-model.number="troubleCodeLength" disabled class="content"></input>
      </div>
      <div class="form-item">
        <label class="label">解析结果</label>
        <input v-model="troubleCodeList" disabled class="content"></input>
      </div>
      <div class="form-item">
        <button @click="format" class="btn">解析</button>
      </div>
    
    <div class="title">注意事项：</div>
    <ul class="list">
      <li>CAN 11/500, CAN 11/250 11位ID的，前面3个字符是CAN ID</li>
      <li>CAN 29/500, CAN 29/250 29位ID的，前面8个字符是CAN ID</li>
      <li>其他协议前6个字符是CAN ID</li>
    </ul>
    <hr>
    <dl>
      <dt>CAN协议测试数据</dt>
      <dd>唯一CANID单帧 - 0个故障码  协议类型：ISO 15765-4 (CAN 11/500)
        <pre>7E8    02 43 00></pre>
      </dd>
      <dd>唯一CANID单帧 - 1个故障码 协议类型：ISO 15765-4 (CAN 11/500)
        <pre>7E8    04 43 01 1024></pre>
      </dd>
      <dd>唯一CANID单帧 - 2个故障码 协议类型：ISO 1576-4(CAN 29/500)
        <pre>18DAF111    06 4A 02 222A 9171></pre>
      </dd>
      <dd>唯一CANID多帧 - 3个故障码 协议类型：ISO 15765-4 (CAN 11/250)
        <pre>7E8 10 08 43 03 CFCD EDD3
7E8 21 2786 0000 0000 00 ></pre>
      </dd>
      <dd>唯一CANID多帧 - 4个故障码 协议类型：ISO 15765-4 (CAN 11/500)
        <pre>7E8 10 0A 43 04 1024 1025 
7E8 21 1026 1027 0000 00</pre>
      </dd>
      <dd>唯一CANID单帧 - 2个故障码 协议类型：ISO 15765-4 (CAN 29/250)
        <pre>18DAF111    06 4A 02 222A 9171 ></pre>
      </dd>
      <dd>唯一CANID多帧 - 5个故障码 协议类型：ISO 15765-4 (CAN 29/250)
        <pre>18DAF111 10 0C 43 05 CFCD EDD3
18DAF111 21 2786 B874 6D99 00 ></pre>
      </dd>

      <dd>多CANID多帧 - 0个故障码 协议类型：ISO 15765-4 (CAN 11/500)
        <pre>7E9 02 43 00
7E8 02 43 00></pre>
      </dd>

      <dd>多CANID多帧 - 1个故障码 协议类型：ISO 15765-4 (CAN 11/500)
        <pre>7E8 04 43 01 2029
7E9 04 43 01 2029></pre>
      </dd>

      <dd>多CANID多帧 - 3个故障码 协议类型：ISO 15765-4 (CAN 11/500)
        <pre>7E8 10 08 43 03 2029 0082
7E8 21 C021 0000 0000 00
7E9 10 08 43 03 2029 0082
7E9 21 C021 0000 0000 00></pre>
      </dd>
    </dl>
    <hr>
    <dl>
      <dt>其他协议测试数据</dt>
      <dd>唯一CANID单帧 - 0个故障码 协议类型：ISO 14230-4 (KWP FAST)
        <pre>87F111 43 0000 0000 0000 CD></pre>
      </dd>

      <dd>唯一CANID单帧 - 1个故障码 协议类型：ISO 14230-4 (KWP FAST)
        <pre>87F111 47 6878 0000 0000 B0></pre>
      </dd>

      <dd>唯一CANID单帧 - 2个故障码 协议类型：ISO 14230-4 (KWP 5BAUD)
        <pre>87F111 4A 222A 9171 0000 21</pre>
      </dd>
      
      <dd>唯一CANID多帧 - 5个故障码 协议类型：ISO 9141-2
        <pre>486B11 43 CFCD EDD3 2786 10
486B11 43 B874 6D99 0000 39 ></pre>
      </dd>

      <dd>唯一CANID多帧 - 12个故障码
        <pre>87F112 43 0006 0007 1233 1F
87F112 43 0009 C022 C023 9B
87F112 43 C024 C025 8020 36
87F112 43 8021 1381 4040 82></pre>
      </dd>
      
      <dd>多CANID - 0个故障码
        <pre>87F112 43 0000 0000 0000 CD
87F118 43 0000 0000 0000 CD></pre>
      </dd>
      <dd>多CANID - 1个故障码
        <pre>87F112 43 2029 0000 0000 16
87F118 43 2029 0000 0000 16></pre>
      </dd>
      <dd>多CANID - 4个故障码
        <pre>87F112 43 2029 0082 C021 79
87F112 43 8090 0000 0000 DD
87F118 43 2029 0082 C021 79
87F118 43 8090 0000 0000 DD></pre>
      </dd>
    </dl>
    </div>
    
    <script>
    new Vue({
      el: '#app',
      computed: {
        // troubleCodeList() {
        //   let result = []
        //   return result.length === 0 ? '' : JSON.stringify(result) 
        // }
      },
      data: {
        ATDP: '', // ISO 15765-4 (CAN 11/250)
        cmd: '03',
        msg: '',
        troubleCodeList: '',
        troubleCodeLength: 0
      },
      methods: {
        format(){
          let msg = this.msg
          msg = msg.replace(/[\r]|[\n]|[\r\n]/g, '\r')
          console.log('当前输入的结果=\n', JSON.stringify(msg))
          if(!this.ATDP){
            alert('协议类型不能为空')
            return
          }
          if(!this.msg){
            alert('返回结果不能为空')
            return
          }
          // console.log('format', cmd, msg)
          msg = msg.replace(/[ ]|[>]/g, '')
          if(this.ATDP.includes('CAN')){
            // 检测故障码模式
            let canId_length = this.ATDP.includes('29/') ? 8 : 3
            let canId = msg.substring(0, canId_length)
            let mode = '03'
            // 如果只有一帧
            if(msg.split(canId).length - 1 === 1){
              mode = msg.substring(canId_length+2, canId_length+4).replace('4', '0')
            }else{
              mode = msg.substring(canId_length+4, canId_length+6).replace('4', '0')
            }
            console.log(mode)
            this.cmd = mode
            this.get_trouble_code_CAN(this.cmd, msg)
            return
          }
          msg = msg.replace(/[ ]|[>]/g, '')
          this.cmd = msg.substring(6, 8).replace('4', '0')
          this.get_trouble_code(this.cmd, msg)
        },
        get_trouble_code(cmd, msg){
          if (msg.includes('NODATA') || msg.includes('NO DATA')) {
            return []
          }
          try {
            msg = msg.replace(/[ ]|[>]/g, '')
            let result = []
            let separator = cmd.replace('0', '4') // 分隔符43 47 4A
            let canId = msg.substring(0, 6) // 获取canId
            let data = msg.split('\r')
            let isOnlyID = data.every(item => item.includes(canId)) // 判断是否唯一CANId
            console.log(`是否唯一CANId = ${isOnlyID}`, data)
            for (let item of data) {
              item = item.substring(8)
              let length = parseInt(item.length / 4)
              for (let subIndex = 0; subIndex < length; subIndex++) {
                let start = subIndex * 4
                let code = item.substring(start, start + 4)
                // 0000不是故障码
                if (code !== '0000' && !result.includes(code)) {
                  result.push(code)
                }
              }
            }
            // console.log('获取的指令', result)
            const hexDigitReplace = { '0': 'P0', '1': 'P1', '2': 'P2', '3': 'P3', '4': 'C0', '5': 'C1', '6': 'C2', '7': 'C3', '8': 'B0',
                '9': 'B1', 'A': 'B2', 'B': 'B3', 'C': 'U0', 'D': 'U1', 'E': 'U2', 'F': 'U3'}
            result.forEach((item, index) => {
              const _item = hexDigitReplace[item[0]] + item.substring(1)
              result.splice(index, 1, _item)
            })

            console.log(`
            协议类型：其他类型
            当前模式=${cmd},
            故障码回复数据=${data},
            canId = ${canId},
            CAN模式故障码== ${JSON.stringify(result)}
            `)
            this.troubleCodeList = result.length === 0 ? '无故障码' : result.join('/')
            this.troubleCodeLength = result.length
            return result
          } catch (error) {
            alert('其他模式发生错误' + error)
          }
        },
        get_trouble_code_CAN(cmd, msg){
          if (msg.includes('NODATA') || msg.includes('NO DATA')) {
            return []
          }
          try {
            let canId_length = this.ATDP.includes('29/') ? 8 : 3
            msg = msg.replace(/[ ]|[>]/g, '')
            let separator = cmd.replace('0', '4') // 分隔符43 47 4A
            let result = []
            const index = msg.indexOf(separator) // 查找模式代码所在下标
            let troubleCodeLength = parseInt(msg.substring(index+2, index+4), 16) // 故障码的数量在模式代码后边
            this.troubleCodeLength = troubleCodeLength
            let canId = msg.substring(0, canId_length)
            console.log(`canId = ${canId}`)
            if(troubleCodeLength > 0){
              let data = msg.split('\r')
              let isOnlyID = data.every(item => item.includes(canId)) // 判断是否唯一CANId
              console.log(`是否唯一CANId = ${isOnlyID}`, data)

              if(isOnlyID){
                data.forEach((item, index)=>{
                  if(index === 0){
                    item = item.substring(item.indexOf(separator)+4)
                    console.log('每一帧有效数据', item)
                  }else{
                    item = item.substring(canId_length + 2)
                    console.log('每一帧有效数据', item)
                  }
                  let length = parseInt(item.length / 4)
                  for (let subIndex = 0; subIndex < length; subIndex++) {
                    let start = subIndex * 4
                    let code = item.substring(start, start + 4)
                    // 0000不是故障码
                    if (code !== '0000' && !result.includes(code)){
                      result.push(code)
                    }
                  }
                })
              }else{
                let json = {}
                let arr = []
                for (const item of data) {
                  let can = item.substring(0, canId_length)
                  if(!json[can]){
                    json[can] = []
                  }
                  json[can].push(item)
                }
                console.log('分割数组', json)
                for (const key in json) {
                  let subData = json[key]
                  subData.forEach((item, index)=>{
                   
                    if(index === 0){
                      item = item.substring(item.indexOf(separator)+4)
                    }else{
                      // 其他帧去掉前两位 每一帧开始标识
                      item = item.substring(canId_length + 2)
                    }
                    
                    let length = parseInt(item.length / 4)
                    for (let subIndex = 0; subIndex < length; subIndex++) {
                      let start = subIndex * 4
                      let code = item.substring(start, start + 4)
                      // console.log('每一帧有效数据', item, code)
                      // 0000不是故障码
                      if (code !== '0000' && !result.includes(code)) {
                        result.push(code)
                      }
                    }
                  })
                }
              }

              const hexDigitReplace = { '0': 'P0', '1': 'P1', '2': 'P2', '3': 'P3', '4': 'C0', '5': 'C1', '6': 'C2', '7': 'C3', '8': 'B0',
              '9': 'B1', 'A': 'B2', 'B': 'B3', 'C': 'U0', 'D': 'U1', 'E': 'U2', 'F': 'U3'}
              result.forEach((item, index) => {
                const _item = hexDigitReplace[item[0]] + item.substring(1)
                result.splice(index, 1, _item)
              })
            }
            console.log(`
            协议类型：CAN类型
            当前模式=${cmd},
            故障码回复数据=${msg},
            canId = ${canId},
            故障码个数= ${troubleCodeLength},
            CAN模式故障码== ${JSON.stringify(result)}
            `)
            this.troubleCodeList = result.length === 0 ? '无故障码' : result.join('/') 
            return result
          } catch (error) {
            alert('CAN模式发生错误' + error)
          }
          

        }
      }
    })
    </script>
    <script>
      function get_trouble_code(cmd, msg) {
          try {
            let data = msg.replace(/[ ]|[\r]|[\n]|[\r\n]|[>]/g, '')
            let result = []
            let separator = cmd.replace('0', '4') // 分隔符43 47 4A
            let canId = data.substring(0, data.indexOf(separator)) // 获取canId
            let arr = data.split(canId) // canId分割结果
            for (let item of arr) {
              if (item.includes(separator)) {
                item = item.replace(separator, '')
                let length = parseInt(item.length / 4)
                for (let subIndex = 0; subIndex < length; subIndex++) {
                  let start = subIndex * 4
                  let code = item.substring(start, start + 4)
                  // 0000不是故障码
                  if (code !== '0000') {
                    result.push(code)
                  }
                }
              }
            }
            // console.log('获取的指令', result)
            const hexDigitReplace = { '0': 'P0', '1': 'P1', '2': 'P2', '3': 'P3', '4': 'C0', '5': 'C1', '6': 'C2', '7': 'C3', '8': 'B0',
                '9': 'B1', 'A': 'B2', 'B': 'B3', 'C': 'U0', 'D': 'U1', 'E': 'U2', 'F': 'U3'}
            result.forEach((item, index) => {
              const _item = hexDigitReplace[item[0]] + item.substring(1)
              result.splice(index, 1, _item)
            })

            console.log(`
            协议类型：其他类型
            当前模式=${cmd},
            故障码回复数据=${data},
            canId = ${canId},
            CAN模式故障码== ${JSON.stringify(result)}
            `)
            this.troubleCodeList = result.length === 0 ? '' : JSON.stringify(result) 
            return result
          } catch (error) {
            console.error(error)
          }
        }

      // 其他协议
      // get_trouble_code('03', '87F112 43 0000 0000 0000 CD>')
      // get_trouble_code('03', '87F112 43 2029 0000 0000 16>')
      // get_trouble_code('03', `87F112 43 0006 0007 1233 1F \r 87F112 43 0009 C022 C023 9B \r 87F112 43 C024 C025 8020 36 \r 87F112 43 8021 1381 4040 82>`)

      // 0个故障码
      
      // 1个故障码
      // 87F1124320290000000016
      // 87F1184320290000000016>
      // 2个故障码
      // 87F1124320290082000098
      // 87F1184320290082000098>
      // 3个故障码
      // 87F1124320290082C02179
      // 87F1184320290082C02179>
      // 4个故障码
      // 87F1124320290082C02179
      // 87F11243809000000000DD
      // 87F1184320290082C02179
      // 87F11843809000000000DD>
      /**
       * CAN故障码解析
       * */
      /*
       * 【控制器ID】7E8 -> canId 可作为数据切分使用
       * 【每一帧开始标识】10第一帧 21第二帧 22第3帧 23第4帧 24第5帧，只有一帧的时没有10
       * 【数据有效长度】02/04/06/08/0A 16进制 代表后续有效数据长度，0A = 10，每两个字符为1位(0xFF为一位)
       * 【模式代码】43 -> 代表03模式的响应，有效数据第1位
       * 【故障码数量】00/01/02/03/04 -> 代表故障码数量 04代表有4个故障码，有效数据第2位
       * 【有效数据】
       */
      // 无故障码  指令:03 回复：7E8    02 43 00>
      // 1个故障码 指令:03 回复：7E8    04 43 01 1024>  有效数据长度4 有效数据 2-3
      // 2个故障码 指令:03 回复：7E8    06 43 02 1024 1025> 有效数据长度6 有效数据  2-3 4-5
      // 3个故障码 指令:03 回复: 7E8 10 08 43 03 1024 1025 7E8 21 1026 0000000000> 有效数据长度8 有效数据  2-3 4-5 7-8
      // 4个故障码 指令:03 回复: 7E8 10 0A 43 04 1024 1025 7E8 21 1026 1027 000000> 10 2-3 4-5 7-8 9-10 12-13 14-15
      // 指令04  回复: 7E8 01 44

  


      // 当前协议 ISO 14230-4 (KWP FAST)
      // '87F111 43 CFCD EDD3 2786 D5 \r 87F111 43 B874 6D99 0000 FE >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '87F111 47 6878 0000 0000 B0 >' // 07 故障码 ["C2878"]
      // '87F111 4A 222A 9171 0000 21 >' // 0A ["P222A","B1171"]

      // 当前协议 ISO 14230-4 (KWP 5BAUD)
      // '87F111 43 CFCD EDD3 2786 D5 \r 87F111 43 B874 6D99 0000 FE >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '87F111 47 6878 0000 0000 B0 >' // 07 故障码 ["C2878"]
      // '87F111 4A 222A 9171 0000 21 >' //  0A 故障码 ["P222A","B1171"]

      // 当前协议 ISO 9141-2
      // '486B11 43 CFCD EDD3 2786 10 \r 486B11 43 B874 6D99 0000 39 >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '486B11 47 6878 0000 0000 EB >' // 07 故障码 ["C2878"]
      // '486B11 4A 222A 9171 0000 5C>' //  0A 故障码 ["P222A","B1171"]

      // 当前协议 ISO 15765-4 (CAN 11/500) CAN类型
      // '7E8 10 0C 43 05 CFCD EDD3 \r 7E8 21 2786 B874 6D99 00 >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '7E8    04 47 01 6878>' // 07 故障码 ["C2878"]
      // '7E8    06 4A 02 222A 9171>' //  0A 故障码 ["P222A","B1171"]

      // 当前协议 ISO 1576-4(CAN 29/500) CAN类型
      // '18DAF111 10 0C 43 05 CFCD EDD3 \r 18DAF111 21 2786 B874 6D99 00 >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '18DAF111    04 47 01 6878 >' // 07 故障码 ["C2878"]
      // '18DAF111    06 4A 02 222A 9171>' // 0A 故障码 ["P222A","B1171"]

      // 当前协议 ISO 15765-4 (CAN 11/250) CAN类型
      // '7E8 10 0C 43 05 CFCD EDD3 \r 7E8 21 2786 B874 6D99 00 >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '7E8    04 47 01 6878 >' // 07 故障码 ["C2878"]
      // '7E8    06 4A 02 222A 9171 >' // 0A 故障码 ["P222A","B1171"]

      // 当前协议 ISO 15765-4 (CAN 29/250) CAN类型
      // '18DAF111 10 0C 43 05 CFCD EDD3 \r 18DAF111 21 2786 B874 6D99 00 >' // 03 故障码 ["U0FCD","U2DD3","P2786","B3874","C2D99"]
      // '18DAF111    04 47 01 6878 >' // 07 故障码 ["C2878"]
      // '18DAF111    06 4A 02 222A 9171 >' // 0A 故障码 ["P222A","B1171"]
       
      // get_trouble_code_CAN('03', '7E9 02 43 00 \r 7E8 02 43 00>')
      function get_trouble_code_CAN(cmd, msg){
        let ATDP = 'ISO 15765-4 (CAN 11/500)' // CAN 11/500, CAN 11/250  CAN 29/500, CAN 29/250
        let canId_length = ATDP.includes('29/') ? 8 : 3 // 29位CAN ID是8位，11位CAN ID是3位
        
        try {
          let data = msg.replace(/[ ]|[\r]|[\n]|[\r\n]|[>]/g, '')
          let result = []
          let separator = cmd.replace('0', '4') // 分隔符43 47 4A
          let index = data.indexOf(separator) // 查找模式代码所在下标
          let troubleCodeLength = parseInt(data.substring(index+2, index+4), 16) // 故障码的数量在模式代码后边
          let canId = data.substring(0, canId_length)
          let isMultipleID = false
          if(troubleCodeLength !== 0){
            // if(troubleCodeLength > 2){
            //   canId = data.substring(0, index-4) // 多帧时要处理掉每一帧开始标识
            // }else{
            //   canId = data.substring(0, index-2) // 只有一帧的时没有10
            // }
            let arr = data.split(canId)     
            arr.shift() // 删除切割导致的第一个空白项
            for (let i = 0; i < arr.length; i++) {
              let item = arr[i];
              if(i === 0){
                item = item.substring(item.indexOf(separator)+4)
                console.log('每一帧有效数据', item)
              }else{
                // 其他帧去掉前两位 每一帧开始标识
                item = item.substring(2)
              }
              
              // 拿到每一帧的故障码
              let length = parseInt(item.length / 4)
              for (let subIndex = 0; subIndex < length; subIndex++) {
                let start = subIndex * 4
                let code = item.substring(start, start + 4)
                // 0000不是故障码
                if (code !== '0000') {
                  result.push(code)
                }
              }
            }
            
            const hexDigitReplace = { '0': 'P0', '1': 'P1', '2': 'P2', '3': 'P3', '4': 'C0', '5': 'C1', '6': 'C2', '7': 'C3', '8': 'B0',
              '9': 'B1', 'A': 'B2', 'B': 'B3', 'C': 'U0', 'D': 'U1', 'E': 'U2', 'F': 'U3'}
            result.forEach((item, index) => {
              const _item = hexDigitReplace[item[0]] + item.substring(1)
              result.splice(index, 1, _item)
            })
          }
          
          console.log(`
          协议类型：CAN类型
          当前模式=${cmd},
          故障码回复数据=${data},
          canId = ${canId},
          故障码个数= ${troubleCodeLength},
          CAN模式故障码== ${JSON.stringify(result)}
          `)
          return result
        } catch (error) {
          console.error(error)
        }
      }
      // 测试板 - 无问题
      // get_trouble_code_CAN('03', '7E8    02 43 00>')
      // get_trouble_code_CAN('03', '7E8    04 43 01 1024 >')
      // get_trouble_code_CAN('03', '7E8    06 43 02 1024 1025>')
      // get_trouble_code_CAN('03', '7E8 10 08 43 03 1024 1025 \r 7E8 21 1026 0000 0000 00>')
      // get_trouble_code_CAN('03', '7E8 10 0A 43 04 1024 1025 \r 7E8 21 1026 1027 0000 00>')

      // 测试 - 无问题
      // console.log('1个故障码：')
      // get_trouble_code_CAN('03', '18DAF1 10 04 43 01 2029>')
      // console.log('2个故障码：')
      // get_trouble_code_CAN('03', '18DAF1 10 06 43 02 2029 0082>')
      // console.log('3个故障码：')
      // get_trouble_code_CAN(
      //   '03',
      //   '18DAF110 10 08 43 03 2029 0082 \r 18DAF110 21 C021 0000 0000 00>',
      // )
      // console.log('4个故障码：')
      // get_trouble_code_CAN(
      //   '03',
      //   '18DAF110 10 0A 43 04 2029 0082 \r 18DAF110 21 C021 8090 0000 00>',
      // )
      // console.log('5个故障码：')
      // get_trouble_code_CAN(
      //   '03',
      //   '18DAF110 10 0C 43 05 2029 0082 \r 18DAF110 21 C021 8090 4032 00>',
      // )
      // console.log('6个故障码:')
      // get_trouble_code_CAN(
      //   '03',
      //   '18DAF110 10 0E 43 06 2029 0082 \r 18DAF110 21 C021 8090 4032 00 \r 18DAF110 22 0600 0000 0000 00>',
      // )
      // console.log('7个故障码：')
      // get_trouble_code_CAN(
      //   '03',
      //   '18DAF110 10 10 43 07 2029 0082 \r 18DAF110 21 C021 8090 4032 00 \r 18DAF110 22 0600 0700 0000 00>',
      // )

    
      // 03 07 0A
      // console.log('0个故障码：')
      // get_trouble_code_CAN('03', '7E8 02 43 00>')
      // console.log('1个故障码：')
      // get_trouble_code_CAN('03', '7E8 04 43 01 2029>')
      // console.log('2个故障码： ')
      // get_trouble_code_CAN('03', '7E806430220290082>')
      // console.log('3个故障码：')
      // get_trouble_code_CAN('03', '7E81008430320290082 7E821C0210000000000>')
      // console.log('4个故障码： ')
      // get_trouble_code_CAN('03', '7E8100A430420290082 7E821C0218090000000>')
      // console.log('5个故障码： ')
      // get_trouble_code_CAN('03', '7E8100C430520290082 7E821C0218090403200>')
      // console.log('6个故障码： ')
      // get_trouble_code_CAN(
      //   '03',
      //   '7E8100E430620290082 7E821C0218090403200 7E82206000000000000>',
      // )
      // console.log('7个故障码： ')
      // get_trouble_code_CAN(
      //   '03',
      //   '7E81010430720290082 7E821C0218090403200 7E82206000700000000>',
      // )
    </script>
  </body>
</html>
