a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline
}

ol,ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

caption,td,th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle
}

a img {
  border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline
}

audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom:1}

[hidden],audio:not([controls]) {
  display: none
}

*,:after,:before {
  box-sizing: border-box
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit
}

input,textarea {
  -webkit-appearance: none;
  border-radius: 0
}

body,html {
  height: 100%
}

body {
  display: flex;
  flex-direction: column
}

.wrapper {
  min-width: 320px;
  flex: 1 0 auto
}

.footer,.footer-tiny {
  flex-shrink: 0
}

body {
  position: relative;
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","寰蒋闆呴粦",Arial,sans-serif;
  font-size: .7rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  word-break: break-all
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI Light","Microsoft YaHei UI","Microsoft YaHei","寰蒋闆呴粦",Arial,sans-serif
}

.container {
  *zoom:1;width: 60rem;
  margin-left: auto;
  margin-right: auto
}

.container:after,.container:before {
  display: table;
  content: ""
}

.container:after {
  clear: both
}

.main {
  position: relative;
  margin-top: 1.9rem;
  margin-bottom: 4.9rem
}

@media screen and (max-width: 767px) {
  .main {
      margin-top:1rem;
      margin-bottom: 2.5rem
  }
}

.main>.container:first-child>div:first-child {
  margin-top: 0
}

.main>.container:last-child>div:last-child {
  margin-bottom: 0
}

.main>.filter-panel:first-child {
  margin-top: -1.9rem
}

a {
  color: #4293f4;
  text-decoration: none
}

a:hover {
  color: #3784c2;
  cursor: pointer
}

a:active,a:focus {
  outline: 0
}

a,button,input,select,textarea {
  -webkit-tap-highlight-color: transparent
}

input {
  outline: 0
}

.fl {
  float: left
}

.fr {
  float: right
}

.link-underline {
  color: #4293f4;
  font-weight: 700;
  text-decoration: underline
}

.link-underline:hover {
  color: #3784c2;
  text-decoration: none
}

::-ms-clear {
  display: none
}

.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle
}

.ms-choice {
  display: block;
  width: 100%;
  height: 1.3rem;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 1.3rem;
  color: #444;
  text-decoration: none;
  background-color: #fff
}

.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default
}

.ms-choice>span {
  position: absolute;
  top: 0;
  left: 0;
  right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: .9rem;
  padding: 0;
  text-align: left
}

.ms-choice>span.placeholder {
  color: #b6babe
}

.ms-choice>.icon {
  position: absolute;
  top: 50%;
  right: .75rem;
  margin-top: -.4rem;
  font-size: 1rem
}

.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  margin-top: -.05rem;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-radius: .2rem
}

.ms-drop.bottom {
  top: 100%;
  box-shadow: 0 .2rem .25rem rgba(0,0,0,.15)
}

.ms-drop.top {
  bottom: 100%;
  box-shadow: 0 -.2rem .25rem rgba(0,0,0,.15)
}

.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 1.3rem;
  padding: .2rem;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000
}

.ms-search input {
  width: 100%;
  height: auto!important;
  min-height: 1.2rem;
  padding: 0 1rem 0 .25rem;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  border: 1px solid #aaa;
  border-radius: 0;
  box-shadow: none;
  /* background: url(multiple-select.png) no-repeat 100% -1.1rem,linear-gradient(to bottom,#fff 85%,#eee 99%) */
}

.ms-search,.ms-search input {
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 0rem .75rem
}

.ms-drop ul>li {
  list-style: none;
  display: list-item;
  background-image: none;
  position: static
}

.ms-drop ul>li .disabled {
  opacity: .35;
  filter: alpha(opacity=35)
}

.ms-drop ul>li.multiple {
  display: block;
  float: left
}

.ms-drop ul>li.group {
  clear: both
}

.ms-drop ul>li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.ms-drop ul>li label {
  font-weight: 400;
  display: block;
  white-space: nowrap
}

.ms-drop ul>li label.optgroup {
  font-weight: 700
}

.ms-drop input[type=checkbox] {
  vertical-align: middle
}

.ms-drop .ms-no-results {
  display: none
}

.tiny-font-weight .about-me .item-title,.tiny-font-weight .account-title,.tiny-font-weight .gov-people-interact .item-title,.tiny-font-weight .matters-faq-title,.tiny-font-weight .matters-result-title,.tiny-font-weight .matters-title,.tiny-font-weight .my-title,.tiny-font-weight .recovery-title {
  font-weight: 400!important
}

.gd-title-lv1 {
  font-size: 2.1rem
}

@media screen and (max-width: 767px) {
  .gd-title-lv1 {
      font-size:1.8rem
  }
}

.matters-link-disabled {
  opacity: .2;
  pointer-events: none
}

.index-other {
  margin-top: -1rem;
  border-top: 1px solid #dfe1e2;
  padding-top: 1.9rem
}

.index-other .index-other-title {
  font-size: .8rem;
  color: #45484b;
  line-height: 1.2rem
}

.index-other .index-other-btns {
  margin-top: 1.2rem
}

.index-other .index-other-btns .index-other-btn {
  display: inline-block;
  padding: .9rem 0 .9rem .85rem;
  width: 13.8rem;
  font-size: .9rem;
  color: #0d1c28;
  line-height: 1.2rem;
  background: #f1f2f3;
  font-weight: 600;
  margin-right: 1.2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all .3s ease
}

.index-other .index-other-btns .index-other-btn:hover {
  background-color: #4293f4;
  color: #fff
}

.index-other .index-other-btns .index-other-btn i {
  margin-right: .75rem;
  line-height: 1.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  vertical-align: middle
}

.index-other .index-other-btns .index-other-btn span {
  vertical-align: middle
}

.common-banner {
  background: linear-gradient(90deg,#0066b9 1%,#4293f4 100%);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.index-other {
  margin-top: 0
}

.doc-content-wrapper {
  margin-top: 1.9rem;
  margin-bottom: 5.2rem;
  display: -ms-flex;
  display: flex;
  flex-direction: row
}

.doc-content-wrapper::after {
  content: '';
  display: block;
  clear: both;
  zoom:1}

.doc-content-wrapper .doc-nav {
  float: left;
  position: relative
}

.doc-content-wrapper .doc-nav::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e8e8e8
}

.doc-content-wrapper .doc-content {
  flex: 1;
  padding-left: 2.95rem
}

.doc-title-h1 {
  font-size: 2.1rem;
  color: #000;
  line-height: 2.8rem;
  margin-bottom: 1.2rem
}

.doc-title-h2 {
  font-size: 1.2rem;
  color: #000;
  line-height: 1.2rem;
  margin-bottom: 1.3rem
}

.doc-title-p {
  font-size: .8rem;
  color: #0d1c28;
  line-height: 1.4rem;
  margin-bottom: 1.9rem
}

.doc-link-list {
  margin-bottom: 1.9rem
}

.doc-link-list>li {
  margin-bottom: .5rem
}

.doc-link-list>li:nth-last-child(1) {
  margin-bottom: 0
}

.doc-link-list>li>a {
  display: inline-block;
  font-size: .8rem;
  color: #4293f4;
  line-height: 1.2rem
}

.doc-link-list>li>a:hover {
  text-decoration: underline;
  color: #3784c2
}

.doc-tips {
  padding: .95rem .85rem;
  background: #f1f2f3;
  font-size: .8rem;
  color: #0d1c28;
  line-height: 1.9rem
}

.doc-time {
  font-size: .7rem;
  color: #727475;
  margin-top: 3rem
}

.doc-gutter-60 {
  height: 3rem
}

.doc-gutter-30 {
  height: 1.5rem
}

.doc-message {
  padding: .65rem .8rem;
  padding-right: 2rem;
  border: 1px solid #ccc;
  font-size: .8rem;
  color: #45484b;
  line-height: 1.2rem;
  position: relative
}

.doc-message .icon {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: .25rem
}

.doc-message .icon-close {
  margin-right: 0;
  cursor: pointer;
  color: #868d93!important;
  position: absolute;
  top: .7rem;
  right: .8rem
}

.doc-message>span {
  vertical-align: middle;
  margin-right: 1.2rem
}

.doc-message.warning {
  border-color: rgba(250,173,20,.4);
  background: rgba(250,173,20,.06)
}

.doc-message.warning .icon {
  color: #faad14
}

.doc-step {
  padding-left: 2.35rem
}

.doc-step>li {
  margin-bottom: 1.9rem;
  position: relative
}

.doc-step>li:nth-last-child(1) {
  margin-bottom: 0
}

.doc-step .doc-step-num {
  width: 1.6rem;
  height: 1.6rem;
  background: #4293f4;
  line-height: 1.6rem;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  left: -2.35rem;
  top: -.1rem;
  color: #fff;
  font-weight: 600
}

.doc-step .doc-step-content {
  font-size: .8rem;
  color: #0d1c28;
  line-height: 1.4rem
}

.doc-step .doc-step-extra {
  margin-top: .85rem
}

.doc-step a {
  color: #4293f4
}

.doc-step a:hover {
  text-decoration: underline;
  color: #3784c2
}

.doc-step img {
  max-width: 100%;
  margin: 0 auto;
  display: block
}

.doc-img {
  max-width: 100%;
  margin: 0 auto;
  display: block
}

.doc-collapse {
  padding: .5rem .75rem;
  background-color: #f1f2f3;
  font-size: .8rem;
  color: #0d1c28;
  line-height: 1.4rem;
  margin-bottom: .75rem
}

.doc-collapse>a {
  margin-bottom: .45rem;
  display: block
}

.doc-collapse>a:nth-last-child(1) {
  margin-bottom: 0
}

.doc-collapse:nth-last-of-type(1) {
  margin-bottom: 0rem
}

.doc-collapse .doc-collapse-title {
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding-right: 1rem
}

.doc-collapse .doc-collapse-title .icon {
  color: #727475;
  position: absolute;
  top: .25rem;
  right: 0
}

.doc-collapse .doc-collapse-content {
  display: none;
  margin-top: .45rem
}

.doc-sub-list {
  font-size: .8rem;
  color: #0d1c28;
  line-height: 1.4rem;
  margin-top: .5rem
}

.doc-sub-list>li {
  margin-bottom: .5rem
}

.doc-sub-list .title {
  margin-bottom: .5rem
}

.doc-sub-list .content {
  padding-left: 1rem;
  margin-bottom: .5rem
}

.doc-sub-list .content:nth-last-child(1) {
  margin-bottom: 0
}
