<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta itemprop="image" content="./images/webDeveloper.jpg" />
  <meta name="keywords" content="前端,JavaScript,vue, mvvm, ES6" />
  <meta name="author" content="WeiYang Zhao" />
  <meta name="copyright" content="zhaowy.cn" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
  <link rel="stylesheet" href="./css/common.css" />
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
  <base target="_blank" />
  <title>学习网站导航</title>
  <style>

  </style>
</head>

<body>
  <div class="container" id="app">
    <dl>
      <dt>常用网站</dt>
      <dd v-for="item in list1" :key="'A' + item.id">
        <a :href="item.url" title="item.des" class="item">{{item.name}}</a>
      </dd>
    </dl>
    <dl>
      <dt>常用网站</dt>
      <dd v-for="item in list2" :key="'B' + item.id">
        <a :href="item.url" title="item.des" class="item">{{item.name}}</a>
      </dd>
    </dl>
  </div>
  <footer class="footer">
    <span>Copyright ©前端之路</span>
    <span class="z-line-left">2017-2020</span>
    <a class="z-line-left" href="http://www.miitbeian.gov.cn/" target="_blank">
      粤ICP备18000927号
    </a>
    <a class="z-line-left" target="_blank"
       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44011102001193">
      <img src="./images/beian.png" />
      粤公网安备 44011102001193号
    </a>
  </footer>
</body>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      list1: [
        {id: 1, name: "XVideos(可下载)", url: "https://www.xvideos.com/", des: "世界上最大的色情网站/自媒体视频网站"},
				{id: 2, name: "pornhub-翻墙", url: "https://cn.pornhub.com/categories/teen", des: "大型色情视频分享类网站"},
				{id: 3, name: "youporn-翻墙", url: "https://www.youporn.com", des: "youporn"},
				{id: 4, name: "芒果哥", url: "https://mangotporn.com/", des: "色情网站最全收录"},
				{id: 5, name: "小仓鼠", url: "https://zh.xhamster.com/", des: "台湾費色情影片分享網站"},
        {id: 6, name: "猫咪-国内", url: "https://www.b3c6r.com/", des: "https://www.maomiav.com/"},
				{id: 7, name: "theavPorn-国产", url: "https://theav104.com/", des: "https://www.theavporn.com/"},
				{id: 8, name: "随机撸-国产", url: "http://suijilu.com/", des: "随机内容网站，无需翻墙"},
				{id: 9, name: "绅士风度", url: "https://qvb333.xyz/", des: "绅士风度"},

        {id: 10, name: "Model Media US", url: "https://cn.pornhub.com/channels/modelmediaasia", des: "大型色情视频分享类网站"},
        {id: 11, name: "汤不热-翻墙", url: "https://www.thumbzilla.com/tags/chinese", des: "汤不热"},
        {id: 12, name: "猫咪-翻墙", url: "https://www.maomiav.com/", des: "猫咪"},

        {id: 13, name: "tube8", url: "https://www.tube8.com/", des: "tube8"},
        {id: 14, name: "keensex", url: "http://tn.keensex.com", des: "keensex"},
        {id: 15, name: "第一会所", url: "http://162.252.9.10/forum/forum-143-1.html", des: "第一会所"},
				{id: 16, name: "女人创作的影片", url: "ttps://www.bellesa.co/", des: ""},
      ],
      list2: [
        {id: 1, name: "Fellatio Japan", url: "https://www.fellatiojapan.com", des: "口交"},
        {id: 2, name: "uralesbian", url: "https://www.uralesbian.com/en/", des: "蕾丝边"},
        {id: 3, name: "legsjapan", url: "https://www.legsjapan.com/en/", des: "腿"},
        {id: 4, name: "spermmania Japan", url: "https://www.spermmania.com", des: "精子"},
        {id: 5, name: "handjobjapan", url: "https://www.handjobjapan.com", des: "手淫"},
        {id: 6, name: "tokyofacefuck", url: "https://www.tokyofacefuck.com/en/", des: "东京热"},
      ],
    },
    computed(){
    
    },
    watch : {
               
    },
    methods: {
      test: function() {
        console.log('1.0.1')
      }
    }
  })
</script>
</html>