<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta itemprop="image" content="./images/webDeveloper.jpg" />
  <meta name="keywords" content="前端,JavaScript,vue, mvvm, ES6" />
  <meta name="author" content="WeiYang Zhao" />
  <meta name="copyright" content="zhaowy.cn" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
  <link rel="stylesheet" href="./css/common.css" />
  <!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script> -->
	 <script src="./js/vue.js"></script>
  <base target="_blank" />
  <title>学习网站导航</title>
  <style>

  </style>
</head>

<body>
  <div class="container" id="app">
		
		<dl>
		  <dt>全世界都说中国话</dt>
		  <dd v-for="item in list1" :key="'A' + item.id">
		    <a :href="item.url" :title="item.des" class="item">{{item.name}}</a>
		  </dd>
		</dl>
		
    <dl>
      <dt>国外大站</dt>
      <dd v-for="item in list2" :key="'B' + item.id">
        <a :href="item.url" :title="item.des" class="item">{{item.name}}</a>
      </dd>
    </dl>
		
		<dl>
		  <dt>厂商</dt>
		  <dd v-for="item in list3" :key="'C' + item.id">
		    <a :href="item.url" :title="item.des" class="item">{{item.name}}</a>
		  </dd>
		</dl>
    <dl>
      <dt>其他网站</dt>
      <dd v-for="item in list4" :key="'C' + item.id">
        <a :href="item.url" :title="item.des" class="item">{{item.name}}</a>
      </dd>
    </dl>
  </div>
  <footer class="footer">
    <span>Copyright ©前端之路</span>
    <span class="z-line-left">2017-2020</span>
    <a class="z-line-left" href="http://www.miitbeian.gov.cn/" target="_blank">
      粤ICP备18000927号
    </a>
    <a class="z-line-left" target="_blank"
       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44011102001193">
      <img src="./images/beian.png" />
      粤公网安备 44011102001193号
    </a>
  </footer>
</body>
<script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
			list1: [
				{id: 1, name: "51吃瓜", url: "https://51cg.fun/", des: ""},
				{id: 1, name: "吃瓜网站", url: "https://www.ymlqxv.com/", des: ""},
				{id: 1, name: "海角社区", url: "https://hjgec.com/home", des: "zwy82626363"},
				{id: 11, name: "91porn", url: "https://e1015.91p01.com", des: "货真价实的91网站,我们目前国产视频最大的网站了。"},
				{id: 5, name: "theavPorn-国产", url: "https://theav104.com/", des: "发布地址：https://theavporn.github.io/theavporn/"},
				{id: 6, name: "AVJB-付费", url: "https://bbav117.com", des: "发布地址：https://avjb.github.io/"},
				{id: 7, name: "小仓鼠-台湾", url: "https://zh.xhamster.com/", des: "台湾費色情影片分享網站"},
				{id: 10, name: "免费高清日本 AV 在线看", url: "https://missav888.com/cn", des: ""},
				
				{id: 1, name: "芒果哥-导航", url: "https://mangotporn.com/", des: "芒果哥将全世界的色情网站进行整理，归纳到这小小的黄网成人导航之中，这里有几千个色情网站供你选择，几近精竭的芒果哥，倾尽全力试图打造。"},
				{id: 2, name: "爱撸啪-导航", url: "https://ailupa.cc/", des: "导航"},
				{id: 3, name: "随机撸-国产", url: "http://suijilu.com/", des: "随机内容网站，无需翻墙"},
				{id: 4, name: "猫咪-国内", url: "https://www.b3c6r.com/", des: "发布地址：https://www.maomiav.com/"},
				
				
				
				{id: 8, name: "绅士风度-国产", url: "https://qvb333.xyz/", des: "绅士风度"},
				{id: 9, name: "女人创作的影片", url: "https://www.bellesa.com/", des: ""},
				
				{id: 11, name: "福利猫-导航", url: "https://flmdh.com/", des: ""},
				
			  {id: 0, name: "桃花堂", url: "https://www.thtmod7.pw/", des: "为您提供免的成人内容，包括免费国产自拍视频，免费日本高清av"},
				{id: 0, name: "草榴社区", url: "http://t66y.com", des: "传说中的1024网站，福利网名常用暗语"},
				{id: 56, name: "第一会所-广告", url: "http://sis001.com", des: "第一会所"},
				{id: 0, name: "含羞草", url: "http://www.67bs.com", des: "老福利视频站了，相信不少猫友也听过这网站的传说吧"},
				{id: 0, name: "久久热", url: "http://99b74.com", des: "品牌成人福利网站，可收藏"},
				{id: 0, name: "8X8X-广告", url: "http://8xsje.buzz", des: "广告有点点多，算是个老牌成人福利视频站了"},
				{id: 0, name: "爱啪网", url: "http://avxxc.com", des: "品牌站，自建视频资源哦，猫友可以长期收藏着看"},
				// {id: 0, name: "", url: "", des: ""},
			],
			
      list2: [
			  {id: 11, name: "排行榜", url: "https://theporndude.com/", des: "porn dude整理的排行榜"},
        {id: 11, name: "XVideos(可下载)", url: "https://www.xvideos.com/", des: "国际知名成人福利网站，网站速度很快，多国语言版本。比较大的缺点是亚洲地区资源比较少，欧美资源比较多，并且中文搜素很垃圾"},
				{id: 111, name: "xnxx", url: "https://www.xnxx.com/", des: ""},
				{id: 12, name: "PornHub-翻墙", url: "https://cn.pornhub.com/categories/teen", des: "当下宇宙第一成人福利视频网站"},
				{id: 12, name: "YouPorn-翻墙", url: "https://www.youporn.com", des: "成人视频网站"},
				{id: 20, name: "SpankBang-下载推荐", url: "https://spankbang.com", des: "免费高清色情网站"},
				{id: 21, name: "redtube-推荐", url: "https://redtube.com", des: "redtube是一个能够为你提供免费色情内容的，历史悠久的色情网站，影片制作非常精良，而且有一定的更新。"},
				{id: 22, name: "汤不热-高清", url: "https://www.thumbzilla.com/tags/chinese", des: "全网最佳高清色情片"},
				{id: 23, name: "tube8", url: "https://www.tube8.com/", des: "tube8"},
				{id: 13, name: "Beeg-高清以明星检索", url: "https://beeg.com", des: "新兴欧美成人视频站"},
				{id: 14, name: "sex-短视频", url: "http://sex.com", des: "国际成人短视频网站"},
				{id: 15, name: "pornhd-广告高清", url: "https://www.pornhd.com/category/chinese-teen-18-19", des: "国际知名成人福利网站，需要翻墙，主打高清视频"},
				{id: 16, name: "HQporner-欧美", url: "https://hqporner.com", des: "欧美视频高清无广告，免费观看，真是良心的网站了！"},
				{id: 17, name: "eporner-欧美大站有广告", url: "http://eporner.com", des: "国际知名成人网站"},
				{id: 18, name: "TNAFlix-一般", url: "https://www.tnaflix.com/", des: "色情欧美视频网站"},
				{id: 19, name: "porngo-广告太多", url: "https://www.porngo.com", des: "一个专门搬运付费色情网站上资源的免费色情网站，不用花一分钱就能享受这个星球上最顶级的色情工作室带来的顶级色情影片"},
				{id: 22, name: "xmoviesforyou-无搜索", url: "https://xmoviesforyou.com", des: "这里有很多的免费高清版且剧情完整的色情视频，不过会在这碰到大量的广告，这里没有主题分类，也没有关键词"},
				{id: 22, name: "SexyPorn-广告太多", url: "https://sxyprn.com", des: "老牌欧美视频网站"},
				{id: 22, name: "Youjizz-不清晰", url: "https://www.youjizz.com", des: "动作、冒险、Adriana Chechik、飞走、成人玩具、Acrobats、3P、棕眼、商务女性、金发女郎、打屁股、笼子、摄像头、邻家女孩等等，并且你还有可能找到一些你从前没有想过的东西。"},
        {id: 53, name: "猫咪-翻墙", url: "https://www.maomiav.com/", des: "猫咪"},
        {id: 55, name: "keensex", url: "http://tn.keensex.com", des: "keensex"},
      ],
			
			
			list3: [
			  {id: 31, name: "天美", url: "http://timi1.me", des: ""},
			  {id: 32, name: "麻豆", url: "https://mdtv019.com/#/detail", des: "知名的国产AV厂"},
				{id: 33, name: "S1", url: "http://s1s1s1.com", des: "日本知名AV厂商官网"},
				{id: 34, name: "attackers", url: "http://attackers.net", des: "20年老牌日本AV厂商官网"},
				{id: 34, name: "ideapocket", url: "http://ideapocket.com", des: "日本知名的AV厂商官网，有20年了"},
				{id: 34, name: "天使之城", url: "http://kawaiikawaii.jp", des: "知名的日本AV厂商"},
				{id: 34, name: "东京热", url: "https://my.tokyo-hot.com", des: "知名的日本AV厂商"},
				{id: 35, name: "桃太狼", url: "http://indies-av.co.jp", des: "知名的日本AV厂商"},
				{id: 35, name: "一本道", url: "http://1pondo.tv", des: "日本的一本道官网"},
				{id: 35, name: "加勒比", url: "http://caribbeancom.com", des: "知名的日本AV厂商"},
				{id: 35, name: "moodyz", url: "http://moodyz.com", des: "知名的日本AV厂商"},
				{id: 35, name: "DAS", url: "https://dasdas.jp/top", des: "知名的日本AV厂商"},
				{id: 35, name: "Kawaii", url: "https://kawaiikawaii.jp/top", des: "知名的日本AV厂商"},
				{id: 35, name: "T-POWERS", url: "https://www.t-powers.co.jp", des: "知名的日本AV厂商"},
				{id: 35, name: "妄想族", url: "https://www.mousouzoku-av.com", des: "知名的日本AV厂商"},
				{id: 35, name: "premium", url: "http://premium-beauty.com", des: "知名的日本AV厂商，特长是做教师校园剧"},
				
				{id: 35, name: "andrew blake movies", url: "https://www.andrewblake.com", des: "著名的美国成人情色厂商官网"},
				{id: 35, name: "MAX-A", url: "https://www.max-a.co.jp/top.php", des: "从当红AV女优到素人、熟女、西部片，3000多段行业顶级美女模特视频全高清超高画质上线！"},
				{id: 33, name: "邪恶影像", url: "https://www.wicked.com", des: "美国的一家著名成人电影工作室官网"},
				{id: 35, name: "啄木鸟公司", url: "https://www.dorcel.com", des: "法国啄木鸟电影公司是法国电影公司之一，影片不仅以情色获取观众的喜爱，情节剧情也是其引人入胜的关键因素。法国啄木鸟电影公司作为当今最著名的五大成人影片公司之一。"},
				{id: 1, name: "Fellatio Japan", url: "https://www.fellatiojapan.com", des: "口交"},
				{id: 2, name: "uralesbian", url: "https://www.uralesbian.com/en/", des: "蕾丝边"},
				{id: 3, name: "legsjapan", url: "https://www.legsjapan.com/en/", des: "腿"},
				{id: 4, name: "spermmania Japan", url: "https://www.spermmania.com", des: "精子"},
				{id: 5, name: "handjobjapan", url: "https://www.handjobjapan.com", des: "手淫"},
				{id: 6, name: "tokyofacefuck", url: "https://www.tokyofacefuck.com/en/", des: "东京热"},
			],
      list4: [
				{id: 51, name: "探花阁", url: "http://thgc.vip", des: "网站页面比较干净整洁，没有广告，而且有高端约炮和保养的分类"},
				{id: 56, name: "91风流楼凤", url: "http://91xiaojie.club", des: "提供全国最新最全的楼凤小姐兼职信息，这里有楼凤兼职，小姐兼职，小姐信息，小姐威客，高端外围，商务模特，学生妹兼职，酒店宾馆洗浴桑拿足浴会所，小姐夜总会等。"},
				{id: 56, name: "91性息港", url: "https://91xxg.info", des: "免费的全国范围内的小姐资源，有网友对小姐的详细介绍，福利猫在这提醒您，理性消费注意人身财产安全，谨防仙人跳，不要随身携带大量现金和贵重物品。"},
				{id: 0, name: "龙凤阁社区", url: "https://www.lfge11.top/", des: "分享全国性息论坛,收集了各地洗浴桑拿,楼凤兼职,足疗按摩,足疗SPA,KTV夜店,红灯区等性息场所并有详细测评介绍和体验感受,是出差旅行、寻欢作乐的必备论坛"},
				{id: 0, name: "红玫瑰社区", url: "https://www.hmg620.top", des: "分享全国性息论坛,收集了各地洗浴桑拿,楼凤兼职,足疗按摩,足疗SPA,KTV夜店,红灯区等性息场所并有详细测评介绍和体验感受,是出差旅行、寻欢作乐的必备论坛"},
				{id: 0, name: "怡红院", url: "https://www.55la.top", des: "提供全国最新最全的楼凤小姐兼职信息，这里有楼凤兼职，小姐兼职，小姐信息，小姐威客，高端外围，商务模特，学生妹兼职，酒店宾馆洗浴桑拿足浴会所，小姐夜总会等"},
				{id: 0, name: "玫瑰楼", url: "https://www.mgl20.top", des: "免费的全国范围内的小姐资源，有网友对小姐的详细介绍，福利猫在这提醒您，理性消费注意人身财产安全，谨防仙人跳，不要随身携带大量现金和贵重物品。"},
				{id: 0, name: "凤江湖", url: "http://fjh12.com", des: "凤江湖论坛提供各地楼凤,洗浴,桑拿,良家少妇信息,是一个集男性生活,男人学习,男人娱乐,男性健康,男人情感为一体的男性专业论坛。"},
				{id: 0, name: "51风流", url: "https://yu51.xyz", des: "51风流是一家老牌的娱乐性息平台，提供全国各地楼凤小姐兼职包养信息分享和查看，每日更新发布，是业界最全面和专业的楼凤小姐兼职包养信息数据库。"},
				{id: 0, name: "香凤楼", url: "https://www.xfl001.com", des: "免费的全国范围内的小姐资源，有网友对小姐的详细介绍，福利猫在这提醒您，理性消费注意人身财产安全，谨防仙人跳，不要随身携带大量现金和贵重物品。"},
				{id: 0, name: "啪小姐信息网", url: "http://www.paxiaojie014.xyz", des: "啪小姐信息网致力于为高端用户提供一个值得信赖的商务模特经纪网站，全国兼职学生,良家信息,所有模特都经过严格挑选，确保真实可靠，欢迎有诚信的客户预约！"},
				{id: 0, name: "凤楼阁", url: "https://xn--nxb-loufenggcom-lc40a84t7o9i3urako0c.loufenggg.com/", des: "全国范围内各种风格的小姐姐，丰胸翘臀婀娜多姿，主要注册登录方可获取联系方式，好玩但不要贪杯哦，注意身体健康"},
				{id: 0, name: "69楼凤", url: "http://69lf.cc", des: "提供全国最新最全的楼凤小姐兼职信息，这里有楼凤兼职，小姐兼职，小姐信息，小姐威客，高端外围，商务模特，学生妹兼职，酒店宾馆洗浴桑拿足浴会所，小姐夜总会等"},
				{id: 56, name: "栖凤楼", url: "https://17go.one/", des: "少妇资源相对较多，所以比较会伺候人，懂得都懂，注册后每4元凤币可获得一位风流少妇的联系方式"},
				{id: 56, name: "屁屁网", url: "http://pp6.info", des: "分享全国性息论坛,收集了各地洗浴桑拿,楼凤兼职,足疗按摩,足疗SPA,KTV夜店,红灯区等性息场所并有详细测评介绍和体验感受,是出差旅行、寻欢作乐的必备论坛"},
				{id: 56, name: "虐恋坊论坛", url: "https://www.nlfff.site/", des: "一个关于虐恋的论坛"},
				
				// {id: 0, name: "", url: "", des: ""},
      ],
    },
    computed(){
    
    },
    watch : {
               
    },
    methods: {
      test: function() {
        console.log('1.0.1')
      }
    }
  })
</script>
</html>