<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>a链接的各种功能</title>
</head>
<body>
  <h1>点锚点跳转到拥有name属性是anchor的锚点处</h1>
  <a href="#anchor">测试ID跳转</a>
  <h1>点击发送邮件</h1>
  <a href="mailto:82626363@qq.com">发送邮件</a>

  <h1>点击发起QQ聊天</h1>
  <h2>PC端</h2>
  <a href="tencent://message/?uin=82626363&Site=网站名字&Menu=yes"title="QQ在线客服" target="_blank"  >联系客服</a>
  <h1>移动端（兼容PC）</h1>
  <a href="http://wpa.qq.com/msgrd?V=3&uin=82626363&Site=QQ&Menu=yes"title="QQ在线客服" target="_blank">联系客服</a>

  <h1>点击加QQ好友</h1>
  <h2>PC端</h2>
  <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=82626363"title="点击加好友" target="_blank" >点击我加为好友</a>
  <h2>移动端（兼容PC）</h2>
  <a href="http://shang.qq.com/email/stop/email_stop.html?qq=82626363"title="点击加好友" target="_blank" >点击我加为好友</a>

  <h1>在线打开微信</h1>
  <h2>点击进入PC网页版</h2>
  <a href="https://wx.qq.com/">点我打开微信</a>
  <h2>移动端</h2>
  <a href="weixin://">点我打开微信</a>

  <h1>拨打电话</h1>
  <a href="tel:1388888888">点击拨打电话</a>

  <h1>新浪微博</h1>
  <a href="http://weibo.com/Ly2016Start" title="新浪微博" target="_blank" ><i class="fa fa-weibo fa-2x"></i>新浪微博</a>
  <h1>github</h1>
  <a href="https://github.com/panda-zhao" title="GitHub" target="_blank" ><i class="fa fa-github fa-2x"></i>GitHub</a>
  <a name="anchor" style="display:block;height:1000px;background:#0f0">测试锚点跳转，我是锚点链接的位置</a>
</body>
</html>