<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>日期和时间</title>
</head>
<body>
  <div id="app">
    <h1>日期和时间</h1>

    <h2>获取当前时间对象</h2>
    <p> {{ currentTime }}</p>

    <h2>格式化当前时间</h2>
    <p>{{dateFormat}}</p>

    <h2>获取当前的时间戳</h2>
    <p>{{timeStamp}}</p>

    <h2>计算第二天的日期</h2>
    <p>{{tomorrow}}</p>
    
    <h2>时间比较</h2>
    <p>{{compareDate}}</p>

    <h2>倒计时</h2>
    <p>当前距离元旦还有{{countdown}}</p>
  </div>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        currentTime : new Date(), // 当前的本地时间
        tomorrow: '', // 明天的日期
        compareDate: '',// 比较当前日期在20之前还是之后
        countdown: '' // 倒计时
      },
      created(){
        console.log('created')
      },
      mounted(){
        console.log('mounted')
        this.getLocalDate() // 每一秒更新时间
        this.getTomorrow() // 获取明天
        this.bindCompareDate() // 比较当前日期在20之前还是之后
        this.bindCountdown('2019/12/31 00:00:00') // 倒计时剩余时间
      },
      computed: {
        dateFormat: function () {
          return this.formatTime(this.currentTime)
        },
        // 计算时间戳
        timeStamp: function () {
          return this.currentTime.getTime()
          // 也可以使用Date.parse()
          // console.log('当前时间戳=',Date.parse(this.currentTime))
        }
      },
      methods: {
        // 定时器获取当前时间
        getLocalDate(){
          var timer = setInterval( ()=> {
            this.currentTime = new Date()
          }, 1000)
        },
        // 格式化日期
        formatTime : function(date){
          const year = date.getFullYear()
          const month = date.getMonth() + 1
          const day = date.getDate()
          const hour = date.getHours()
          const minute = date.getMinutes()
          const second = date.getSeconds()
          const formatNumber = n => {
            n = n.toString()
            return n[1] ? n : '0' + n
          }
          return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
        },
        // 获取明天
        getTomorrow(){
          var date = new Date()
          date.setDate(date.getDate()+1)
          this.tomorrow = date.toLocaleDateString()
        },
        // 比较当前日期在20之前还是之后
        bindCompareDate(){
          var date = new Date().setDate(20) /*设置日期是本月20日*/
          this.compareDate = new Date() < date ? "现在是20号以前" : "现在是20号之后"
        },
        // 倒计时 目标时间格式 如 2019/9/5 00:00:00
        bindCountdown(targetTime){
          const timer = setInterval(()=>{
            const diff = new Date(targetTime) - new Date() // 时间差
            const day = parseInt(diff / (1000 * 60 * 60 * 24)) // 剩余天数
            const D = diff - day * 1000 * 60 * 60 * 24 //除去天的毫秒数
            const hour = parseInt(D / (1000 * 60 * 60)) // 剩余小时
            const H = D - hour * 1000 * 60 * 60 // //除去天、小时的毫秒数
            const minute = parseInt(H / (1000 * 60)) // 剩余分钟
            const M = H - minute * 1000 * 60 // 除去天、小时、分的毫秒数
            const  secoud = parseInt(M / 1000) // 剩余秒
            const formatNumber = n => {
              n = n.toString()
              return n[1] ? n : '0' + n
            }
            this.countdown = `${formatNumber(day)}天${formatNumber(hour)}:${formatNumber(minute)}:${secoud}`
          }, 1000)
        }
      }
    })
  </script>
</body>
</html>