<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ajax请求</title>
</head>

<body>
  <form action="http://localhost:8888/test" method="GET">
    <div>
      <label for="">
        用户名
        <input type="text" placeholder="请输入名字" name="user">
      </label>
    </div>
    <div>
      <label for="">
        密码
        <input type="password" placeholder="请输入密码" name="password">
      </label>
    </div>
    <button type="submit">提交表单</button>
  </form>
  <script>
  </script>
</body>

</html>