<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>js的各种加密方法</title>
</head>

<body>
  <h1>base64加密</h1>
  <h1>md5加密</h1>
  <h1>sha1加密</h1>
  <script src="https://cdn.bootcss.com/Base64/1.0.0/base64.min.js"></script>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
  <script src="https://cdn.bootcss.com/jsSHA/2.0.0/sha.js"></script>
  <script>
    // base64加密
    // var b = new Base64();
    // var str = b.encode("admin:admin");
    // console.log('md5加密===', str);
    //解密
    // str = b.decode(str);
    // console.log('md5加密===', str);

    // md5加密
    // var hash = hex_md5("123dafd");
    // console.log('md5加密===', hash)

    // sha1加密
    // var sha = hex_sha1('mima123465')
    // console.log('sha1加密===', sha)
  </script>
</body>

</html>