<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Bluetooth V1.3</title>
  <script src="./util.js"></script>
  <script src="../../js/vue.js"></script>
  <style>
    #app {
      /* text-align: center; */
      padding: 48px 16px 0;
    }

    .header {
      display: flex;
      align-items: center;
      align-items: center;
    }

    .loading {
      position: fixed;
      top: 40%;
      left: 40%;
      right: 40%;
      bottom: 40%;
      background: rgba(0, 0, 0, .8);
      color: #f00;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .floatingView {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .15);
      color: #f00;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 0;
      /* font-weight: bold; */
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    h2 {
      border-left: 3px solid blue;
      /* border-bottom: 1px solid #ccc; */
      font-size: 24px;
      padding: 0 8px;
      margin: 16px 0;
      color: #333;
    }

    button {
      display: inline-block;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: all 0.3s ease;
    }

    button:hover {
      cursor: pointer;
      transform: translateY(-2px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    button:active {
      transform: translateY(0);
      box-shadow: none;
    }


    input[type="text"],
    input[type="password"],
    input[type="email"] {
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: none;
      transition: border-color 0.3s ease;
      margin-bottom: 16px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
      outline: none;
      border-color: #007bff;
    }

    input[type="text"]::placeholder,
    input[type="password"]::placeholder,
    input[type="email"]::placeholder {
      color: #999;
    }

    input[type="text"]:hover,
    input[type="password"]:hover,
    input[type="email"]:hover {
      border-color: #ccc;
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: none;
      transition: border-color 0.3s ease;
    }

    textarea:focus {
      outline: none;
      border-color: #007bff;
    }

    textarea::placeholder {
      color: #999;
    }

    textarea:hover {
      border-color: #ccc;
    }

    .info {
      color: blue;
      font-weight: bold;
      padding: 0 15px;
    }

    .footer {
      margin-top: 15px;
      color: blue;
      text-align: center;
    }

    li {
      font-size: 16px;
      color: #333;
      margin-bottom: 8px;
    }

    .switch {
      width: 50px;
      height: 25px;
      background-color: #ccc;
      border-radius: 25px;
      position: relative;
      transition: background-color 0.3s;
      cursor: pointer;
      margin: 0 20px 0 10px;
    }

    .switch.is-on {
      background-color: #4cd964;
    }

    .switch-handle {
      width: 23px;
      height: 23px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 1px;
      left: 1px;
      transition: left 0.3s;
    }

    .switch.is-on .switch-handle {
      left: 24px;
    }

    .box {
      width: 100%;
      height: calc(100vh - 330px);
    }

    .z-button2 {
      color: #fff;
      background-color: #f00;
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-if="loading" class="loading">
      <div></div>
      {{errMsg}}
    </div>
    <div class="floatingView">{{errMsg}}</div>
    <div class="header" v-if="!isConnected">
      是否加密
      <div class="switch" :class="{ 'is-on': isEncrypted }" @click="isEncrypted = !isEncrypted">
        <div class="switch-handle"></div>
      </div>
      <button id="z-button" class="z-button" @click="connectOBD">连接蓝牙</button>
    </div>

    <div class="header" v-if="isConnected">
      <div class="info">当前协议：{{ATDP}}[{{isEncrypted ? '加密模式': '未加密'}}]</div>
      <button id="z-button" class="z-button2" v-if="isConnected" @click="closeBLEConnection">断开连接</button>
    </div>

    <div class="container">
      <div>
        <h2>请输入要发送的指令</h2>
        <input type="text" v-model="inputValue" placeholder="请输入指令">
        <button @click="startJob">发送单个指令</button>
        <button @click="startAll">测试所有指令</button>
        <button @click="startLoop">老化测试</button>
      </div>

      <div>
        <h2>数据发送和回复记录 <button @click="dataHTML=''">重置</button></h2>
        <div>
          <textarea name="" id="" cols="30" rows="20" v-model="dataHTML" readonly class="box"></textarea>
        </div>
        <!-- <div v-html="dataHTML" class="container"></div> -->

      </div>
    </div>


    <footer>
      <div>参考文档</div>
      <ul>
        <li>
          <a href="https://webbluetoothcg.github.io/web-bluetooth/#bluetooth" target="_blank">Web Bluetooth提案</a>
        </li>
        <li>
          <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Bluetooth" target="_blank">MDN社区 Bluetooth</a>
        </li>
      </ul>
    </footer>

  </div>


  <script>
    const eventTarget = new EventTarget(); // 创建 EventTarget 实例
    const app = new Vue({
      el: '#app',
      data: {
        ATDP: '暂无', // ISO14230-4(KWP FAST) AUTO, ISO 15765-4 (CAN 29/500)
        loading: false,
        gatt_service: null,
        isEncrypted: false,
        isConnected: false,
        isLoop: false,
        queue: [], // 当前任务队列
        currentCMD: null, // 当前正在执行的指令
        errMsg: '请先点击连接蓝牙', // 异常信息
        dataHTML: '',
        characteristic_write: null, // 写入的特征值
        characteristic_notify: null, // 订阅的特征值
        tem: '',// 数据存储
        inputValue: "", // 手动输入的值
      },
      created() {
        // console.log(this.tem, this.dataHTML, this.$data)
        // console.log(PIDs)
        // console.log(CryptoJS)
        // localStorage.setItem('____ATDP', 'ISO 15765-4 (CAN 11/500)');
        console.log('当前的协议', localStorage.getItem('____ATDP'))

        // let value = [45,41,32,46,34,38,34,31,30,44,37,32,44,34,38,33,44,45,39,35,41,46,43,43,45,42,35,36,45,43,45,44]
        // let value = [30,63,64,39,62,66,35,34,65,64,62,61,65,38,66,39,38,34,34,63,32,63,33,65,34,39,62,61,30,38,39,31]
        // const uint8Array = new Uint8Array(value);
        // console.log('解密前', uint8Array)
        // this.textDecoder(uint8Array)
        // this.hexToString('4538393532383431303436373434383344413330314643434534423645434544') // >  E895284104674483DA301FCCE4B6ECED

        // this.hexToString('3063643962663534656462616538663938343463326333653439626130383931') // 010C
        // this.hexToString('3337343545463946343545434245343536414142343032333337344543334346') // 7E803410DBE    

        // this.hexToString('3843353641414244394643464246463936323836464546394341444243414537') // 7E803410A64
        // this.hexToString('4542423646383431304536303934383344373744444643434531304245434544') // 无法解析 EBB6F8410E609483D77DDFCCE10BECED 7-30


        // this.hexToString('3934323046303645343835433432443534463236373545423436413541413133') // 无法解析 9420F6E485C54F2675EB46A5A113 
        // this.hexToString('4534323046383431303835433434383344463236374643434536413541434544') // 无法解析 E420F841085C4483DF267FCCE6A5ACED 7-31
        

        
        // this.hexToString('6336376534653038303132343762663034643630663966373266623065306237') // 0104
        // this.formatData('07', '7E80147>')
        // this.formatData('050001', '486BAA 450001 5A F8\r\r>')
        // this.formatData('050101', '486B00 4501 01 6862\r\r>')
        // this.formatData('050201', '486B00 4502 01 6863\r\r>')
        // this.formatData('050401', '486B00 4504 01 6865\r\r>')
        // this.formatData('050601', '486B00 4506 01 23002A4C\r\r>')
        // this.formatData('050102', '486B00 4501 02 6863\r\r>')
        // this.formatData('050202', '486B00 4502 02 6864\r\r>')

        // this.formatData('0A', '83F110 7F 0A111E>') // [)
        // this.formatData('03', '486B11 43 CFCD EDD3 2786 10\r486B11 43 B874 6D99 0000 39 >') // ["U0FCD","U2DD3","P2786","B3874","C2D99")
        // this.formatData('03', '87F112 43 2029 0082 C021 79 \r87F112 43 8090 00000000DD\r 87F118 43 2029 0082 C021 79  \r87F118 43 8090 0000 0000 DD >') // "P2029","P0082","U0021","B0090"
        // this.formatData('07', '87F111 47 0420 00000000F4>') // ["P0420")
        // this.formatData('03', '86F111 41 00BE 3E28 11 FE>'),  // [)
        // this.formatData('03', '486B10 43 0300 0480 0000 F4\r\r>') // ["P0300","P0480"]
        // this.formatData('0606', "416B10 4606 813811004AA7\r416B10460601B712DFFF64\r416B104606A137DE000B26\r416B104606213AF4BAC27F\r416B104606B137CC000BD3\r416B1046063139AFBA6155\r416B104606C237BC000A88\r416B104606423903BA2D2E\r\r>")
        // this.formatData('0601', '18DAF110 10 1C 46 01 01 0A FE DF\r18DAF110 21 90 00 B0 00 01 03 0A\r18DAF110 22 9E 41 78 00 92 AA 01\r18DAF110 23 05 10 02 DD 00 00 03\r18DAF110 24 20 00 00 00 00 00 00\r\r>')

        // 多帧不规范数据
        let mock = [
          // ["0100", "SEARCHING...\r86F1104100983B80112C\r86F11A41009818800103\r\r>"], // 10011000001110111000000000010001
          // ['0100', 'SEARCHING...\r86F110 4100 BE 3E B8 11 8D 86\rF11A 4100 98 18 80 01 03\r\r>'], // 10111110001111101011100000010001
          // ["020000", "7E8 07 420000 7E 1F 88 03\r7E9 07 420000 58 1A 80 03\r\r>"], // 01111110000111111000100000000011
          // ["020500", "486B0E 420500 FF 07\r\r>"], // 215
          // ["020200", "85F110 420200 01 98 63\r\r>"], // P0198
          // [],
          // [],
          // [],
          // [],
          // ["0100", "SEARCHING...\r18 DA F1 EF 06 41 00 90 18 80 11 \r18 DA F1 1E 06 41 00 90 18 80 03 \r18 DA F1 10 06 41 00 B6 3C A8 13 \r\r>"]
        ]

        for (let item of mock) {
          const [cmd, msg] = item
          this.formatData(cmd, msg)
        }
      },
      computed: {
        // ATDP() {
        //   return localStorage.getItem('____ATDP')
        // }
      },
      methods: {
        hexToString(hexStr) {
          // 检查输入长度是否为64位（每两个字符为一个十六进制数，共32个字符）
          if (hexStr.length !== 64) {
            throw new Error("输入的字符串长度必须为64位");
          }
          let result = "";
          // 按每两个字符分组并转换为字符
          for (let i = 0; i < hexStr.length; i += 2) {
            // 获取每两个字符组成的十六进制字符串
            const hexPair = hexStr.substring(i, i + 2);
            // 将十六进制字符串转换为十进制
            const decimal = parseInt(hexPair, 16);
            console.log('decimal', decimal)
            // 将十六进制字符串转换为ASCII字符
            const char = String.fromCharCode(parseInt(hexPair, 16));
            // 将字符追加到结果字符串中
            result += char;
          }
          console.log('hexToString', result)
          result = decrypt(result)
          return result;
        },

        connectOBD() {
          try {
            let UUID = "0000fff0-0000-1000-8000-00805f9b34fb" // 不加密
            if (this.isEncrypted) {
              UUID = "0000ffe0-0000-1000-8000-00805f9b34fb"
            }
            let option = {
              filters: [
                {services: [UUID]}, // 一个数组，包含要查找的蓝牙设备提供的服务 UUID，必须小写
                // { name: 'OBDII' }, // 字符串，精确指定设备名称 OBDII
                // {namePrefix: '前缀'} // 字符串，设备名称的前缀
              ],
              acceptAllDevices: false, // 默认false, 是否可以接受所有蓝牙设备, 为false时必须设置filters 
              optionalServices: [UUID], // 一个数组，包含要在连接设备后可能需要使用的服务的 UUID，但这些服务不在 filters 中的 services 数组里。, 必须小写
            }
            console.log('是否加密🔐', this.isEncrypted, UUID)


            navigator.bluetooth.requestDevice(option).then(async (device) => {
              console.log('1-找到设备', device)

              let deviceName = device.gatt.device.name;
              this.errMsg = `${device.name} 已连接`

              const server = await device.gatt.connect(); // 连接到 GATT 服务器
              this.gatt_service = server
              const OBDII_services = await server.getPrimaryServices(); // 获取所有服务
              console.log('所有服务', OBDII_services)

              const OBDII_service = await server.getPrimaryService(UUID); // 获取指定服务
              console.log('2-服务信息', OBDII_service)
              // 获取服务的特征值缓冲区
              const characteristics = await OBDII_service.getCharacteristics() // 获取所有特征值
              console.log('3-所有特征值', characteristics)

              let notifyUUID = null
              let writeUUID = null
              for (let i = 0; i < characteristics.length; i++) {
                const item = characteristics[i];
                // 可通知属性
                if (item.properties.notify || item.properties.indicate) {
                  notifyUUID = item.uuid
                }
                // 可写,只有一个特征值
                if (item.properties.write) {
                  writeUUID = item.uuid
                }
              }
              // 获取服务的特征值缓冲区
              this.characteristic_notify = await OBDII_service.getCharacteristic(notifyUUID)// 获取指定特征值
              console.log('4-通知特征值', this.characteristic_notify)
              this.characteristic_write = await OBDII_service.getCharacteristic(writeUUID)// 获取指定特征值
              console.log('5-写入特征值', this.characteristic_write)

              console.log('6-启动订阅，开始监听特征值变化',)
              this.characteristic_notify.startNotifications(); // 启用监听特征值改变
              this.onBLECharacteristicValueChange() // 监听低功耗蓝牙设备特征值变化 ？重复启用是否会有问题
              this.isConnected = true
              // 执行默认队列
              this.queue = ['ATZ', 'ATE0', 'ATL0', 'ATH1', 'ATSP0', 'AT+VERSION', 'ATI', '0100', 'ATDP', "ATRV"]
              this.write_multiple_cmd(this.queue)
            })
              .catch(function (error) {
                console.log("出现错误： ", error);
                alert(error.message)
              });
          } catch (exception) {
            console.error(exception);
            this.errMsg = exception
            alert("获取设备详细信息时发生错误");
          }
        },
        closeBLEConnection() {
          this.gatt_service.device.gatt.disconnect()
          console.log('已成功断开连接');
          this.isConnected = false
        },
        async write_multiple_cmd(arr) {
          for (let index = 0; index < arr.length; index++) {
            const element = arr[index];
            let chunk = await this.writeCmd(element)
            console.log('响应完毕', element, chunk)
            if (index === arr.length - 1 && this.isLoop) {
              console.log('一轮结束')
              this.startLoop()
            }
          }
        },
        // 写数据
        writeCmd(cmd) {
          return new Promise(async (resolve, reject) => {
            if (this.loading) {
              console.log('当前有未完成的指令', cmd)
              reject(new Error('当前有未完成的指令'));
              return
            }
            console.log('1、开始发送指令', cmd, this.formatTime(),)
            this.errMsg = `正在发送指令 ${cmd}`
            // this.onValueChangeCallback = (data)=>{
            //   return data
            // }
            this.loading = true
            let _cmd = this.textEncoder(cmd)
            console.log('2、实际写入', _cmd)
            this.characteristic_write.writeValue(_cmd).then(async (res) => {
              console.log('3、发送指令成功', cmd, this.formatTime())
              this.sendTimestamp = this.formatTime()
              // this.dataHTML = `发送: ${cmd}\r\n` + this.dataHTML // 发送记录
              this.currentCMD = cmd
              /// 监听 data 事件，等待 receive 函数的结果
              const handleData = (event) => {
                let result = event.detail
                console.log("接收eventTarget响应消息:", result);
                resolve(result);
                // 移除监听器，避免重复监听
                eventTarget.removeEventListener('data', handleData);
              };
              eventTarget.addEventListener('data', handleData);
            }).catch((error) => {
              alert("获取设备详细信息时发生错误");
              this.errMsg = error
              console.log('发送失败', error)
              reject(error)
            })
          });
        },
        // 接收回复消息
        onBLECharacteristicValueChange() {
          return new Promise((resolve, reject) => {
            this.characteristic_notify.addEventListener('characteristicvaluechanged', e => {
              let value = e.target.value // 当前帧返回的数据
              this.endTimestamp = this.formatTime()
              console.log('5、收到回复特征值变化', value, this.endTimestamp)
              // console.log('5、收到回复特征值变化',  JSON.stringify(value), this.endTimestamp)
              let chunk = this.textDecoder(value)
              this.tem += chunk // 当前命令返回的总数据
              if (this.tem.includes('>')) {
                // console.log('接收完成', this.tem)
                let result = this.formatData(this.currentCMD, this.tem)
                // 发送事件，携带结果数据
                const event = new CustomEvent('data', { detail: result });
                eventTarget.dispatchEvent(event);
                this.dataHTML = `\r\n${this.sendTimestamp} 发送：${this.currentCMD}\r\n${this.endTimestamp} 回复: ${this.tem.replace(/[ ]|[\r]|[\n]|[\r\n]/g, "")}\r\n${this.formatTime()} 格式化后: ${result}\r\n` + this.dataHTML
                this.loading = false
                // let print = `7、发送：${this.currentCMD}\r\n回复: ${this.tem}\r\n格式化后: ${result}`
                // console.log(print);
                this.tem = '' // 接收完成。重置数据
                console.log('===== 已执行完成 =====')
                resolve(result); // 解析特征值变化
              } else {
                console.log('4、接收到数据，但未接收完成')
              }
            });
          })
          // 监听低功耗蓝牙设备特征值变化,必须先启用startNotifications，才能监听到

        },
        formatData(cmd, data) {
          let result = 'NO DATA'
          if (data.includes('NO DATA')) {
            console.warn('无数据', cmd, data)
          }
          if (cmd.substring(0, 2) === '01') {
            let condition = ['0100', '0120', '0140', '0101', '0141'].includes(cmd)
            result = condition ? getSupport(cmd, data) : get$01(cmd, data)
          } else if (cmd.substring(0, 2) === '02') {
            let condition = ['0200', '0220', '0240'].includes(cmd.substring(0, 4))
            result = condition ? getSupport$02(cmd, data) : get$02(cmd, data)
          } else if (['03', '07', '0A'].includes(cmd)) {
            result = getDTC(cmd, data)
          } else if (cmd.substring(0, 2) === '05') {
            let condition = ["0500", "0520", "0540", "0560", "0580", "05A0", "05C0", "05E0"].includes(cmd.substring(0, 4))
            result = condition ? getSupport(cmd, data) : get$05(cmd, data)
          } else if (cmd.substring(0, 2) === '06') {
            let condition = ["0600", "0620", "0640", "0660", "0680", "06A0", "06C0", "06E0"].includes(cmd.substring(0, 4))
            result = condition ? getSupport(cmd, data) : get$06(cmd, data)
          } else if (cmd.substring(0, 2) === '09') {
            let condition = '0900' === cmd
            result = condition ? getSupport(cmd, data) : get$09(cmd, data)
          } else if (['10', '3E', "27", "22", "2E", "14", "19"].includes(cmd.substring(0, 2))) {
            let condition = cmd.substring(0, 4) === '1902'
            result = condition ? getUDSDTC(cmd, data) : data
          } else if (cmd.substring(0, 2) === 'AT') {
            result = data.replace(/[ ]|[\r]|[\n]|[\r\n]|[>]/g, "")
            if (cmd === 'ATDP') {
              // 【重要】把需要使用的协议存储在缓存内,解析数据需要用到 wx.getStorageSync('____ATDP')
              // wx.setStorageSync('____ATDP', result)
              // 【重要】把需要使用的协议存储在缓存内,解析数据需要用到 localStorage.getItem('____ATDP')
              localStorage.setItem('____ATDP', result);
              this.ATDP = result
            }
          } else {
            result = data
          }
          console.log('6、格式化后的结果', cmd, result)
          return result
        },
        async startJob() {
          if (!this.isConnected) {
            alert('错误！请先连接蓝牙再测试！')
            return
          }
          let cmd = this.inputValue
          if (!cmd) {
            alert('错误！请先输入指令！')
            return
          }
          if (cmd === '05') {
            let start = this.formatTime()
            let chunk = await this.get05Group()
            this.dataHTML = `\r\n${start} 发送：05 \r\n${this.formatTime()} 格式化后: ${JSON.stringify(chunk)}\r\n` + this.dataHTML
            return
          }
          if (cmd === '06') {
            let start = this.formatTime()
            let chunk = await this.get06Group()
            this.dataHTML = `\r\n${start} 发送：06 \r\n${this.formatTime()} 格式化后: ${JSON.stringify(chunk)}\r\n` + this.dataHTML
            return
          }
          this.isLoop = false
          this.queue.push(cmd)
          this.writeCmd(cmd)
        },

        startAll() {
          if (!this.isConnected) {
            alert('错误！请先连接蓝牙再测试！')
            return
          }
          this.isLoop = false
          // 执行默认队列
          let queue = ["ATRV", "020200", "020000", "022000", "024000", "020C00", "020D00", "03", "07", "0A", "05", "06", "0900", "0902", "0904", "0906", "0908", "090A", "090B", "010C", "010D"]
          for (let i = 0; i < 96; i++) {
            let hex = i.toString(16).toUpperCase()
            let cmd_01 = (hex.length < 2 ? "010" : '01') + hex
            queue.push(cmd_01)
          }
          this.queue = queue
          // this.writeCmd()
          this.write_multiple_cmd(this.queue)
        },
        startLoop() {
          if (!this.isConnected) {
            alert('错误！请先连接蓝牙再测试！')
            return
          }
          this.isLoop = true
          let queue = ['010C', '010D', '010E', '0132', '0146', '0104', '0105', '010B']
          this.queue = queue
          this.write_multiple_cmd(this.queue, true)
        },
        formatTime() {
          let date = new Date()
          const year = date.getFullYear()
          const month = date.getMonth() + 1
          const day = date.getDate()
          const hour = date.getHours()
          const minute = date.getMinutes()
          const second = date.getSeconds()
          const milliseconds = date.getMilliseconds()
          const formatNumber = n => {
            n = n.toString()
            return n[1] ? n : '0' + n
          }
          return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':') + ':' + milliseconds
        },
        // 字符串转ArrayBuffer
        textEncoder: function (cmd) {
          let str = cmd + '\r'
          // 下边这个方法也可以
          if (this.isEncrypted) {
            str = encrypt(str)
          }
          let result = new TextEncoder().encode(str).buffer
          // 下边这个方法兼容性更好
          // var bufView = new Uint8Array(str.length);
          // for (var i = 0; i < str.length; i++) {
          //   bufView[i] = str.charCodeAt(i);
          // }
          // let result = bufView.buffer;
          return result
        },
        // ArrayBuffer转字符串

        textDecoder: function (value) {
          console.log('解密前', value)
          let result = new TextDecoder().decode(value)
          // 下边这个方法兼容性更好
          // let uint8Array = new Uint8Array(value)
          // let result = ''
          // for (let i = 0; i < uint8Array.length; i++) {
          //   result += String.fromCharCode(uint8Array[i]);
          // }

          if (this.isEncrypted) {
            result = decrypt(result)
          }
          return result
        },
        get05Group() {
          return new Promise(async (resolve, reject) => {
            let result = []
            let pid_0113 = await this.writeCmd('0113')
            let pid_011D = await this.writeCmd('011D')
            // 获取支持的氧传感器
            let _o2Location = []
            if (pid_0113) {
              if (pid_0113.includes('11')) {
                _o2Location.push('01')
              }
              if (pid_0113.includes('12')) {
                _o2Location.push('02')
              }
              if (pid_0113.includes('13')) {
                _o2Location.push('03')
              }
              if (pid_0113.includes('14')) {
                _o2Location.push('04')
              }
              if (pid_0113.includes('21')) {
                _o2Location.push('05')
              }
              if (pid_0113.includes('22')) {
                _o2Location.push('06')
              }
              if (pid_0113.includes('23')) {
                _o2Location.push('07')
              }
              if (pid_0113.includes('24')) {
                _o2Location.push('08')
              }
            } else if (pid_011D) {
              if (pid_011D.includes('11')) {
                _o2Location.push('01')
              }
              if (pid_011D.includes('12')) {
                _o2Location.push('02')
              }
              if (pid_011D.includes('21')) {
                _o2Location.push('03')
              }
              if (pid_011D.includes('22')) {
                _o2Location.push('04')
              }
              if (pid_011D.includes('31')) {
                _o2Location.push('05')
              }
              if (pid_011D.includes('32')) {
                _o2Location.push('06')
              }
              if (pid_011D.includes('41')) {
                _o2Location.push('07')
              }
              if (pid_011D.includes('42')) {
                _o2Location.push('08')
              }
            }

            if (_o2Location.length > 0) {
              // 获取每个氧传感器的TID
              let _json = {}
              let _list = ["0500", "0520", "0540", "0560", "0580", "05A0", "05C0", "05E0"]
              for (let subItem of _o2Location) {
                for (let item of _list) {
                  let cmd = item + subItem
                  let _support = await this.writeCmd(cmd) || "00000000000000000000000000000000"
                  if (!_json[subItem]) {
                    _json[subItem] = _support
                  } else {
                    _json[subItem] += _support
                  }
                }
              }
              // 根据支持情况计算支持的测试ID
              let queue = [] // 任务队列
              for (let key in _json) {
                let supportStr = _json[key]
                for (var i = 0; i < supportStr.length; i++) {
                  if (supportStr[i] === '1') {
                    let hex = (i + 1).toString(16).toUpperCase()
                    while (hex.length < 2) {
                      hex = '0' + hex
                    }
                    queue.push('05' + hex + key)
                  }
                }
              }
              console.log('任务队列', queue)
              for (const cmd of queue) {
                let val = await this.writeCmd(cmd)
                result.push(val)
              }
            }
            console.log('05结果', result)
            resolve(result)
          })
        },
        get06Group() {
          return new Promise(async (resolve, reject) => {
            let result = []
            let list = ["0600", "0620", "0640", "0660", "0680", "06A0", "06C0", "06E0"]
            let __support = ''
            for (const item of list) {
              __support += await this.writeCmd(item) || "00000000000000000000000000000000"
            }
            // console.log('06支持情况', __support)
            let queue = [] // 任务队列
            for (var i = 0; i < 256; i++) {
              let hex = i.toString(16).toUpperCase()
              while (hex.length < 2) {
                hex = '0' + hex
              }
              const cmd = '06' + hex
              if (__support[i - 1] === '1') {
                if (!['00', '20', '40', '60', '80', 'A0', 'C0', 'E0'].includes(hex)) {
                  let arr = await this.writeCmd(cmd)
                  result = result.concat(arr)
                }
              }
            }
            // console.log('06结果', result)
            resolve(result)
          })
        },
      }
    })

  </script>
</body>

</html>